<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cadastro.css">
    <script src="../script/cadastro.js"></script>
    <title>Cadastro</title>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="index.html"><img class="logo" src="../img/logo.png" alt=""></a>
      </header>
      <main>
        <h4 class="h4"><img src="../img/log-in.png" alt=""> Faça o seu cadastro</h4>
    <form action="" class="form">
      Nome: <input class="input" type="text" id="name" name="name">
      Email: <input class="input" type="email" id="email" name="email">
      Senha: <input class="input" type="password" id="password" name="password">
      CPF ou CNPJ: <input class="input" type="text" id="cpf_cnpj" name="cpf_cnpj">
      Data de Nascimento: <input class="input" type="text" id="birthday" name="birthday">
      Aceitar termos: <input class="checkbox" type="checkbox">
      <button type="button" class="button1" onclick="cadastroUsuario()">Cadastrar</button>
      <!-- <input type="button" class="button1" value="Cadastrar" onclick="cadastroUsuario()"> -->
    </form>
    </main>
    <aside><img class="image-home" src="./img/side-image.jpg" alt=""></aside>
    <footer></footer>
  </div>
  </body>
</html>


<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="../css/cadastro.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../script/cadastro.js"></script>
  <title>Cadastro de Usuário</title>
</head>
<body>
  <div class="container"></div>
  <header><h4>Bem vindo ao Cadastro de Usuário</h4></header>
  <main>
    <form action="">
      Nome: <input type="text" id="name" name="name">
      Email: <input type="email" id="email" name="email">
      Senha: <input type="text" id="password" name="password">
      CPF ou CNPJ: <input type="text" id="cpf_cnpj" name="cpf_cnpj">
      Data de Nascimento: <input type="text" id="birthday" name="birthday">
      <input type="button" value="Submit" onclick="cadastroUsuario()">
    </form>
  </main>
  <aside>
    <!-- <img class="image-home" src="../img/side-image.jpg" alt=""> -->
  </aside>
  <footer></footer>
</body>
</html>